.tam_canelita{
    width: 100%;
    max-width: 500px;
}
.tam_mochi{
    width: 100%;
    max-width: 930px;
}
.tam_perros{
    width: 100%;
    max-width: 300px;
}
.tam_gatos{
    width: 100%;
    max-width: 300px;
}
.tam_fotodentro{
    width: 100%;
    max-width: 400px;
    
}