< !DOCTYPE html><html><head><style>.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container img {
    margin-right: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.text-container p {
    margin: 0;
}

.text-container strong {
    font-weight: bold;
}

</style></head><body><div class="container"><img src="/img/Dogo1.jpg" alt="Perro 1" width="400" height="400"><div class="text-container"><p><strong>Nombre: Destructor</strong></p><p><strong>Edad: 2</strong></p><p><strong>Género: Masculino</strong></p><p><strong>Esterilizado: Si</strong></p><p><strong>Nro Código: 91</strong></p><a href="Perrrros.html">Volver a la página principal de perros</a></div></div></body></html>