h2{
    font-size:50px;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
}
p{
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 20px;
}
.diseño_label{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}
.diseño_tarjetas{
    font-family: 'Josefin Sans', sans-serif;
}
.diseño_subtitulos{
    font-size:30px;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
}